<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap"
  rel="stylesheet"
/>

<style>
  button:hover {
    transform: translateY(-2px);
  }
</style>
<h1>My Jokes</h1>
<h2
  style="
    position: absolute;
    top: 8%;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    left: 30%;
    margin-bottom: 1em;
  "
  *ngIf="!networkStatus"
>
  You are offline, Turn on wifi to get the latest jokes
</h2>
<div
  class=""
  style="
    background-color: red;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 3em;
  "
>
  <button
    (click)="refresh()"
    style="
      transition: 0.2s ease-in-out;
      position: absolute;
      top: 20%;
      left: 45%;
      /* right: 50%; */
      padding: 1em 3.5em 1em 3.5em;
      background-color: wheat;
      border: 1px solid seashell;
      border-radius: 3px;
      cursor: pointer;
    "
  >
    Get New joke
  </button>
  <p
    style="max-width: 80vw; margin: auto; font-family: 'Montserrat', sans-serif"
  >
    {{ joke.value }}
  </p>
</div>
